@use "variable" as var;
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

video,
picture,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
}

input {
    outline: none;
}

::-webkit-scrollbar {
    width: 2px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background-color: white;
}
a {
    text-decoration: none;
    color: var.$color-primario;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
.body {
    background-color: var.$color-secundario;
    color: var.$color-primario;
}

input,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    outline-width: 0;
    outline-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline-style: none;
}

a::selection,
p::selection,
span::selection,
img::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
div::selection,
time::selection,
button::selection,
li::selection {
    background: rgba(196, 196, 196, 0.253);
}

/* Firefox */
a::-moz-selection,
p::-moz-selection,
span::-moz-selection,
img::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
div::selection,
time::selection,
button::selection,
li::selection {
    background: rgba(196, 196, 196, 0.253);
}
