$color-primario: white;
$color-secundario: black;
$color-terciario: #0e0e0e;
$color-cuternario: #747474;

/* --------------------- TRANSITION --------------------- */

$transition: (
    slow: all 900ms ease-in-out,
    medium: all 600ms ease-in-out,
    fast: all 300ms ease-in-out,
);
