.redes {
    display: flex;
    width: min(60%, 315px);
    gap: 1rem;
    margin-inline: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
        color: white;
        font-size: clamp(2rem, 0.5rem + 1vw, 3rem);
    }
}
.redes--1 {
    width: 93px;
    a {
        font-size: 1.4rem;
    }
}
