@use "../1-base/variable" as var;
@use "../2-mixins/break-points" as breakP;
.sub-heading {
    display: flex;
    padding: clamp(40px, 1.6rem + 3.7vw, 74px) clamp(30px, 1.1rem + 3.7vw, 60px);
    background: var.$color-terciario;
    gap: 2.5rem;
    height: fit-content;
    align-items: center;
    border-radius: 5px;
    position: relative;
    left: 0;
    transition: map-get(var.$transition, medium);
    h2 {
        font-size: clamp(2rem, 1.2rem + 3.5vw, 4rem);
        font-weight: bold;
        margin-bottom: 35px;
        @include breakP.media-queries-down(sm) {
            & {
                text-align: center;
            }
        }
    }
    p {
        font-size: clamp(1rem, 0.5rem + 1vw, 1.5rem);
        font-weight: 400;
        margin-bottom: 10px;
        @include breakP.media-queries-down(sm) {
            & {
                text-align: center;
            }
        }
    }
    &__icons {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(74px, 90px));
        row-gap: clamp(2rem, 1rem + 1vw, 6.25rem);
        column-gap: 2rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        img,
        svg {
            height: 74px;
            margin: 0 auto;
        }
        i {
            font-size: 4.6rem;
        }
        @include breakP.media-queries-down(sm) {
            img,
            svg {
                height: 48px;
            }
            i {
                font-size: 3rem;
            }
        }
    }
}

.sub-heading--about {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 74px;
    height: fit-content;
    @include breakP.media-queries-down(lg) {
        & {
            padding: clamp(40px, 1.6rem + 3.7vw, 74px) clamp(30px, 1.1rem + 3.7vw, 60px);
        }
    }
}
