/* --------------------- TRANSITION --------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

video,
picture,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

input {
  outline: none;
}

::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.body {
  background-color: black;
  color: white;
}

input,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  outline-width: 0;
  outline-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline-style: none;
}

a::selection,
p::selection,
span::selection,
img::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
div::selection,
time::selection,
button::selection,
li::selection {
  background: rgba(196, 196, 196, 0.253);
}

/* Firefox */
a::-moz-selection,
p::-moz-selection,
span::-moz-selection,
img::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
div::selection,
time::selection,
button::selection,
li::selection {
  background: rgba(196, 196, 196, 0.253);
}

.mb-section {
  padding-top: clamp(87px, 50px + 7vw, 140px);
}

.visibility-animate {
  visibility: hidden;
}

.filter-white {
  filter: brightness(0) invert(1);
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 1243px;
  }
}

.preload {
  width: 100%;
  position: fixed;
  z-index: 4;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  pointer-events: none;
}
.preload img {
  width: 200px;
  position: absolute;
  transition: all 900ms;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preload__bg {
  width: 100%;
  height: 100vh;
  opacity: 1;
  background: black;
  transition: all 900ms;
}

.header {
  position: fixed;
  width: 100%;
  padding: 2.2rem 0px;
  top: 0;
  z-index: 3;
  transition: all 300ms ease-in-out;
}
.header .container {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: baseline;
}
.header.active {
  background: #0e0e0e;
  padding: 1.5rem 0px;
  box-shadow: 0px 0px 30px 0px #070707;
}

.bg-fill-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(14, 14, 14, 0);
  z-index: 1;
  display: none;
}

.logo {
  display: flex;
  gap: 0.5rem;
  flex-direction: row-reverse;
}
.logo h1 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: bold;
}
.logo img {
  width: 20px;
  height: 20px;
  align-self: center;
}

.menu-burger {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

/* -------------------- MENU LATERAL -------------------- */
.user {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 0 auto;
  user-select: none;
}
.user img {
  width: 100%;
}

.close,
.theme-dark {
  font-size: 1.6rem;
}

.wrapper-menu-movile {
  height: 100vh;
  width: 400px;
  padding: 2.3rem 3.4375rem;
  position: fixed;
  background: #0e0e0e;
  right: -150%;
  top: 0;
  z-index: 3;
  overflow: scroll;
  transition: cubic-bezier(0.65, 0.05, 0.36, 1) 900ms;
}
.wrapper-menu-movile p {
  text-align: center;
}
.wrapper-menu-movile.active {
  right: 0%;
}
@media screen and (max-width: 470px) {
  .wrapper-menu-movile {
    width: 100%;
    padding: 1.5rem 2rem;
  }
}

.navbar-r {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.navbar-r__link a {
  transition: all 300ms ease-in-out;
  color: white;
  background-image: linear-gradient(white, white);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
}
.navbar-r__link a:hover {
  background-size: 100% 1px;
}
.navbar-r__link a.active {
  background-size: 100% 1px;
}

.btn-primario {
  padding: 0.48rem clamp(1rem, 0.5rem + 1vw, 2.1rem);
  width: fit-content;
  border-radius: 0.3125rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
  gap: 0.625rem;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: clamp(0.875rem, 0.5rem + 1vw, 1.25rem);
  font-weight: bold;
  transition: cubic-bezier(0.65, 0.05, 0.36, 1) 600ms;
  background: linear-gradient(white, white);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  border: none;
}
.btn-primario img,
.btn-primario svg,
.btn-primario i {
  font-size: 1.125rem !important;
  width: 1.125rem;
}
.btn-primario:hover {
  background-size: 100% 100%;
  color: black;
}
.btn-primario.active {
  background-size: 100% 100%;
  color: black;
}

.btn-primario--icon {
  background: white;
  color: black;
}

.btn-links {
  transition: all 300ms ease-in-out;
  color: white;
  background-image: linear-gradient(white, white);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
}
.btn-links:hover {
  background-size: 100% 1px;
}

.link {
  transition: all 300ms ease-in-out;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.link:hover {
  color: white;
  border-bottom: 1px solid white;
}

.redes {
  display: flex;
  width: min(60%, 315px);
  gap: 1rem;
  margin-inline: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.redes a {
  transition: all 300ms ease-in-out;
  color: white;
  background-image: linear-gradient(white, white);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  font-size: clamp(2rem, 0.5rem + 1vw, 3rem);
  background-size: 0% 1px;
}
.redes a:hover {
  background-size: 100% 1px;
}
.redes a.active {
  background-size: 100% 1px;
}

.redes--1 {
  width: 93px;
}
.redes--1 a {
  font-size: 1.4rem;
}

.sub-heading {
  display: flex;
  padding: clamp(40px, 1.6rem + 3.7vw, 74px) clamp(30px, 1.1rem + 3.7vw, 60px);
  background: #0e0e0e;
  gap: 2.5rem;
  height: fit-content;
  align-items: center;
  border-radius: 5px;
  position: relative;
  left: 0;
  transition: all 600ms ease-in-out;
}
.sub-heading h2 {
  font-size: clamp(2rem, 1.2rem + 3.5vw, 4rem);
  font-weight: bold;
  margin-bottom: 30px;
}
@media screen and (max-width: 576px) {
  .sub-heading h2 {
    text-align: center;
  }
}
.sub-heading p {
  font-size: clamp(1rem, 0.5rem + 1vw, 1.5rem);
  font-weight: 400;
  margin-bottom: 10px;
}
@media screen and (max-width: 576px) {
  .sub-heading p {
    text-align: center;
  }
}
.sub-heading__icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(74px, 90px));
  row-gap: clamp(2rem, 1rem + 1vw, 6.25rem);
  column-gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.sub-heading__icons img,
.sub-heading__icons svg {
  height: 74px;
  margin: 0 auto;
}
.sub-heading__icons i {
  font-size: 4.6rem;
}
@media screen and (max-width: 576px) {
  .sub-heading__icons img,
.sub-heading__icons svg {
    height: 48px;
  }
  .sub-heading__icons i {
    font-size: 3rem;
  }
}

.sub-heading--about {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 74px;
  height: fit-content;
}
@media screen and (max-width: 992px) {
  .sub-heading--about {
    padding: clamp(40px, 1.6rem + 3.7vw, 74px) clamp(30px, 1.1rem + 3.7vw, 60px);
  }
}

.sub-heading__icons--high {
  grid-template-columns: repeat(auto-fit, minmax(74px, 120px));
}

.card-curso {
  max-width: 120px;
  margin: 0 auto;
  padding: 0.8rem 0.5rem;
  border-radius: 5px;
  transition: all 600ms ease-in-out;
}
.card-curso__img {
  height: 74px;
}
.card-curso__title {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
  text-align: center;
}
.card-curso p,
.card-curso p time {
  text-align: center;
  font-weight: 500;
  font-size: 0.75rem;
  color: #747474;
}

.proyect {
  position: relative;
  overflow: hidden;
}
.proyect h2 {
  font-size: clamp(2rem, 1.2rem + 3.5vw, 4rem);
  font-weight: bold;
  margin-bottom: 35px;
  text-align: center;
}

.proyects-preview {
  position: relative;
  background-image: url(../img/home/flor.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  height: clamp(600px, 100vh - 75px, 900px);
  filter: contrast(120%);
  -webkit-filter: contrast(120%);
  -moz-filter: contrast(120%);
  z-index: 0;
}
.proyects-preview::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.proyects-preview.video-preview::after {
  pointer-events: none;
  opacity: 0;
}
.proyects-preview.video-preview .proyects-preview-container {
  pointer-events: none;
}

.ytp-cued-thumbnail-overlay-image {
  background-size: contain;
}

.proyects-preview-container {
  position: relative;
  z-index: 2;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .proyects-preview-container {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

.proyect-content {
  position: relative;
  -webkit-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  left: 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.proyect-content__title {
  font-size: clamp(2rem, 1.2rem + 3.5vw, 4rem);
  font-weight: bold;
  margin-bottom: 0px;
  max-width: 600px;
}
.proyect-content__time {
  font-size: clamp(0.875rem, 0.5rem + 1vw, 1.25rem);
  font-weight: 200;
  margin-bottom: 5px;
}
.proyect-content__description {
  font-size: clamp(1rem, 0.5rem + 1vw, 1.5rem);
  font-weight: 400;
  max-width: 600px;
}

.technologies-icons {
  position: absolute;
  bottom: 5%;
  z-index: 2;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.375rem;
  -webkit-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}
.technologies-icons img {
  height: 38px;
}

/* ----------------------- SWIPPES ---------------------- */
.swiper {
  position: relative;
  right: 0;
  height: 90%;
  margin: 0;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  overflow-y: hidden;
  -webkit-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}
@media screen and (max-width: 992px) {
  .swiper {
    padding-top: 0;
    height: auto;
  }
}

.swiper-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: min(380px, 100%);
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 234px;
}

.swiper-slide-active {
  -webkit-transform: translateX(300px);
  -ms-transform: translateX(300px);
  transform: translateX(300px);
}

.swiper-slide img {
  display: block;
  width: min(380px, 100%);
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 234px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: 5px 2px 10px 0px rgba(0, 0, 0, 0.274);
  box-shadow: 5px 2px 10px 0px rgba(0, 0, 0, 0.274);
  border-radius: 5px;
}

.btn-volver {
  position: absolute;
  left: -100%;
  bottom: 25%;
  -webkit-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  border: none;
  opacity: 0.3;
}
.btn-volver:hover {
  opacity: 1;
}

@keyframes hoverVolver {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.container-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.container-video iframe {
  width: inherit;
  height: inherit;
}
.container-video div {
  width: 100%;
  height: 100%;
}

.experience-content {
  background: #0e0e0e;
  border-radius: 5px;
  padding: 107px 85px 85px;
}
.experience-content h3 {
  font-size: clamp(2rem, 0.5rem + 1vw, 2.375rem);
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .experience-content {
    padding: clamp(40px, 1.6rem + 3.7vw, 74px) clamp(30px, 1.1rem + 3.7vw, 60px);
  }
  .experience-content h3 {
    text-align: center;
  }
}

.item-experience__header {
  display: grid;
  grid-template-columns: 15% 80% 5%;
  justify-content: space-between;
  align-items: baseline;
  user-select: none;
}
@media screen and (max-width: 576px) {
  .item-experience__header {
    grid-template-columns: auto;
  }
}
.item-experience__header__time {
  pointer-events: none;
}
.item-experience__header__time h4 {
  font-size: clamp(1.2rem, 0.5rem + 1vw, 2.25rem);
  font-weight: bold;
  margin-bottom: 0;
}
.item-experience__header__time p {
  font-size: clamp(0.7rem, 0.2rem + 1vw, 0.875rem);
  font-weight: bold;
  color: #747474;
}
.item-experience__header__title {
  pointer-events: none;
  font-size: clamp(1rem, 0.5rem + 1vw, 1.9375rem);
  font-weight: bold;
}
.item-experience__header__icon {
  pointer-events: none;
  font-size: 1.2rem;
  transition: all 600ms ease-in-out;
  width: fit-content;
}
.item-experience__header.active .item-experience__header__icon {
  transform: rotate(180deg);
}

.item-experience__content {
  height: 0;
  overflow: hidden;
  color: #747474;
  transition: all 600ms ease-in-out;
}

.item-experience__content.active {
  height: clamp(100px, 475px - 31vw, 540px);
  max-height: fit-content;
}

.card-service {
  background: #0e0e0e;
  padding: 2rem;
  height: fit-content;
  border-radius: 5px;
  position: relative;
  transition: all 600ms ease-in-out;
  text-align: center;
  height: 100%;
  margin-top: 1rem;
}

.card-service__icon {
  font-size: 4.6rem;
  font-weight: 800;
}

.card-service__title {
  font-size: clamp(1rem, 0.5rem + 2vw, 1.6rem);
}

.card-service__description {
  color: #747474;
}

.title {
  font-size: clamp(2rem, 1.2rem + 3.5vw, 4rem);
  font-weight: bold;
  margin-bottom: 35px;
  text-align: center;
}

.footer a {
  transition: all 300ms ease-in-out;
  color: white;
  background-image: linear-gradient(white, white);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
}
.footer a:hover {
  background-size: 100% 1px;
}
.footer a.active {
  background-size: 100% 1px;
}

.footer-col h3 {
  font-size: clamp(0.875rem, 0.5rem + 1vw, 1.25rem);
  font-weight: bold;
}

.footer-col__conten li:nth-child(1) {
  margin-top: 42px;
}
.footer-col__conten li {
  margin-bottom: 30px;
  font-size: clamp(0.75rem, 0.5rem + 1vw, 1rem);
}

.footer-copyright {
  padding: 1rem 0px;
  text-align: center;
  font-weight: 400;
  color: #747474;
}

.footer-copyright {
  font-size: clamp(0.75rem, 0.5rem + 1vw, 1rem);
}

.home {
  height: clamp(670px, 100vh, 900px);
  background: url(../img/home/bg-home.webp) no-repeat black bottom;
  background-size: cover;
  display: grid;
  justify-content: center;
  color: white;
  grid-template-rows: 80% 20%;
  text-align: center;
}

.home-title {
  font-size: clamp(2rem, 1.5rem + 5.2vw, 5.375rem);
  font-weight: bold;
}

.home-text {
  font-size: clamp(1rem, 0.5rem + 1vw, 1.5rem);
  font-weight: 400;
}

.home-copyright {
  font-size: clamp(0.75rem, 0.5rem + 1vw, 1rem);
  font-weight: 400;
  color: #747474;
}

/* ------------------------ ABOUT ----------------------- */
.about-img img {
  max-width: 519px;
}
@media screen and (max-width: 768px) {
  .about-img img {
    width: 100%;
  }
}

/* --------------------- EXPERIENCE --------------------- */
/* ------------------------ BASE ------------------------ */
/* ----------------------- HELPERS ---------------------- */
/* --------------------- COMPONENTES -------------------- */
/* ---------------------- SECTIONS ---------------------- */

/*# sourceMappingURL=style.css.map */
